body{
  margin: 0;
  padding: 0;
  background-color: #c5ded3;
  font-family: Poppins, sans-serif;
  font-size:12px;
  align-items: center;
}

.reg-form{
  width: 300px;
  background: #fff;
  padding: 10%;
  margin: 8% auto 0;
  text-align: center;
  border-radius: 5%;
  align-items: center;
}
.reg-form h1{
  color:#555;
  margin-bottom: 20%;
}
.inputbox{
  border-radius:20px;
  padding:10px;
  margin: 0;
  margin-bottom: 8%;
  width: 100%;
  border:1px solid #999;
  outline:none;

}
button{
  background-color: #bed4c7
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px;
  border:none;
  outline: none;
  cursor: pointer;
}
