<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Team Section</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='aboutpage.css') }}">
</head>
<body>
  <div class="wrap">
    <h1>Our Team</h1>
    <div class="team">
      <div class="team-member">
        <div class="teampic">
          <img src="ryan.png" alt="Ryan Awad">
        </div>
        <h3>Ryan Awad</h3>
        <p class="role">Back-end Developer</p>
        <p>some random description</p>
      </div>
    <div class="team">
      <div class="team-member">
        <div class="teampic">
          <img src="vikum.png" alt="Vikum Semage">
        </div>
        <h3>Vikum Semage</h3>
        <p class="role">Back-end Developer</p>
        <p>some random description</p>
      </div>
        <div class="team">
          <div class="team-member">
            <div class="teampic">
              <img src="vedha.jpg" alt="Vedha Mereddy">
            </div>
            <h3>Vedha Mereddy</h3>
            <p class="role">Back-end Developer</p>
            <p>some random description</p>
          </div>
</body>
</html>
